{% extends 'base.html' %}
{% block head_content %}
<div class="height_100"></div>
{% endblock head_content %}
{% block content %}
<section id="main_content" class="bg_gray">
    <div class="container">
        <div class="sec_up">
            <div class="row alter">
                <div class="col-sm-8 col-md-9">
                    <div class="content">
                        <div class="about_us">
                            <div class="page_title">
                                <h1>About Us</h1>


                            </div>
                            <!-- /page_title -->

                            <div class="row_block">
                                <h3>What is CallnMail?</h3>

                                <p>CallnMail is an email forwarding facility, acting through a website on the internet, as well as

providing its services through mobile applications.</p>
                            </div>

                            <div class="row_block">
                                <h3>Why use CallnMail?</h3>

                                <p>If you are a mobile phone user, you can register your mobile number with the CallnMail.com

service, which in turn allows other CallnMail users and friends to email you, without knowing

your personal or professional email id; all they need is your mobile number.

In addition, when people are contacting you by phone, you can give out your email ID as the

CallnMail.com email; using that specific mobile phone number, they contacted you from.

CALLNMAIL is an email forwarding service that provides its services through mobile

applications based on using the verified mobile number as an email id to forward email

messages.

Find any person by just knowing their mobile number. Users provide a valid email address ,

and a valid mobile number , CALLNMAIL verifies both and gives the option to the user to

start using its features in order to forward all incoming email sent to the email country code

(with “+”) followed by the mobile number under the domain CALLNMAIL   (example

+44mobilenumber@CallnMail.com ) is a mobile number from the UK.</p>
                            </div>

                            <div class="row_block">
                                <h3>Who</h3>

                                <p>CallnMail is founded and owned by TASMEEM UNITED CO WLL.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content -->

                <div class="col-sm-4 col-md-3">
                    {% include 'sidebar.html' %}
                </div>
                <!-- /sidebar -->
            </div>
        </div>
    </div>
</section>
{% endblock %}