{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="main_content" class="registration bg_gray">
			<div class="container">
				<div class="page_title">
					<h1>Create an account or sign in</h1>
					<p>Use your phone number for the email address <br>and link it to your existing email.</p>
				</div><!-- /page_title -->
			</div>

			<div class="sec_reg">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="tab_panel" role="tabpanel">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="{% url 'mail:activate_user' %}" aria-controls="activate_account" role="tab" data-toggle="tab">Activate Account</a></li>
								</ul>

								<div class="box_container">
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="activate_account">
											<div class="tab_item_content active_account">
												<div class="content_logo"><a href="#"><img src="{% static 'images/content_logo_bg.png' %}" alt="logo"></a></div>

												<div class="reg_content">
                                                    <p class="text-warning">{{ error }}</p>
													<form action="" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
															<div class="cc_phone">
																<span class="country_code">
																	<a href="#">00965 <i class="fa fa-angle-down"></i></a>
																</span>
                                                                    {{ form.phone_number }}
																<a class="input_add_on" href="#"><i class="fa fa-phone"></i></a>
                                                              <p class="text-warning">{{ form.phone_number.errors }}</p>

															</div>
														</div>
														<div class="form-group">
															<div class="active_code">
                                                                {{ form.activation_code }}
																<a class="input_add_on" href="#"><i class="fa fa-lock"></i></a>
                                                                <p class="text-warning">{{ form.activation_code.errors }}</p>
															</div>
														</div>

														<button type="submit" class="button">Activate My Account</button>
													</form>
												</div><!-- /reg_content -->
											</div>
										</div><!-- /tab_item_content -->
									</div>

									<span class="reg_ribbon"><img src="{% static 'images/ribbon.png' %}" alt="ribbon"></span>
									<span class="iphone_6"><img src="{% static 'images/iphone_6.png' %}" alt="iphone-6"></span>
								</div><!-- /box_container -->
							</div>
						</div>
					</div><!-- /row -->

					<div class="row">

						<div class="col-sm-12">
							<div class="app_store">
								<a href="#"><img src="{% static 'images/icon_app_store.png' %}" alt="app_store"></a>
								<a href="#"><img src="{% static 'images/icon_app_google_play.png' %}" alt="google_play"></a>
							</div>
						</div>
					</div><!-- /row -->
				</div>
			</div>
		</section>
{% endblock %}