{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="main_content"
             class="sec_profile">
        <div class="container">
            <div class="box_container">
                <form action=""
                      method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            {% include 'profile_part.html' %}
                        </div>
                        <!-- /p_content -->
                        <div class="col-md-8 col-sm-7">
                            <div class="change_pass">
                                <div class="sec_title"><h2>Change Password</h2></div>

                                <div class="p_content sec_half_left">
                                    <p class="text-warning">{{ error }}</p>

                                    <p class="text-warning">{{ form.non_field_errors }}</p>

                                    <div class="custom_input_row">
                                        {{ form.old_password }}
                                        <p class="text-warning">{{ form.old_password.errors }}</p>
                                    </div>
                                    <!-- /custom_input_row -->
                                    <div class="custom_input_row">
                                        {{ form.new_password1 }}
                                        <p class="text-warning">{{ form.new_password1.errors }}</p>
                                    </div>
                                    <!-- /custom_input_row -->
                                    <div class="custom_input_row">
                                        {{ form.new_password2 }}
                                        <p class="text-warning">{{ form.new_password2.errors }}</p>
                                    </div>
                                    <!-- /custom_input_row -->
                                </div>
                                <!-- /p_content -->

                                <div class="p_content sec_half_right">
                                    <div class="edit_panel">
                                        <button class="button"
                                                type="submit">Change Password
                                        </button><br><br>
                                        <a class="button"
                                           href="{% url 'mail:profile' %}">< Back to Profile</a>
                                    </div>
                                </div>
                                <!-- /p_content -->
                            </div>
                            <!-- /change_pass -->
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="app_store">
                        <a href="https://itunes.apple.com/au/app/callnmail/id1023138715?mt=8"><img src="{% static 'images/icon_app_store.png' %}"
                                         alt="app_store"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.labelag.callnmail&hl=en"><img src="{% static 'images/icon_app_google_play.png' %}"
                                         alt="google_play"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}