{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block head_content %}
<div class="height_100"></div>
{% endblock head_content %}
{% block content %}

<style type="text/css">
    label {
        display: none;
    }
</style>
<section id="main_content" class="bg_gray contact">
			<div class="container">
				<div class="sec_up">
					<div class="row alter">
						<div class="col-sm-8 col-md-9">
							<div class="content">
								<div class="contact_top">
									<div class="page_title">
										<h1>Contact</h1>
										<p>Please use the contact form on the right side if you have any questions or requests, concerning our services.</p>
									</div><!-- /page_title -->
								</div>
                                   <div class="text-center">{% bootstrap_messages FIXTHIS %}</div>
								<div class="row_block bg_gray">
									<div class="contact_us">
										<div class="row">
											<div class="col-md-8">
												<div class="contact_form">
													<form action="" method="post">
                                                        {% csrf_token %}
														<div class="form-group">
                                                            {{ form }}
															<div class="cf_btn_group">
																<button type="reset" class="button reset">Reset</button>
																<button type="submit" class="button">Submit</button>
															</div>
														</div>
													</form>
												</div>
											</div>
											<div class="col-md-4">
												<div class="contact_info">
													<div class="row_block">
														<p><span class="add_title">Contact Details </span><br><a href="mailto:registration@ted.com">registration@ted.com</a><br> Tel: <a href="tel:7783408872">778.340.8872</a></p>
													</div>
													<div class="row_block">
														<p><span class="add_title">Headquarters</span><br> TED Conferences, LLC<br> 250 Hudson St.<br> Suite 1002<br> New York, NY 10013</p>

														<p>Tel: <a href="tel:2123469333">212-346-9333</a></p>
													</div>

													<div class="row_block">
														<p><span class="add_title">Customer Contact Information:</span><br> Please allow up to 5 business days to receive a response by mail.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- /contact_us -->

							</div>
						</div><!-- /content -->

						<div class="col-sm-4 col-md-3">
							{% include 'sidebar.html' %}
						</div><!-- /sidebar -->
					</div>
				</div>
			</div>
		</section>

{% endblock %}