{% extends 'base.html' %}
{% block head_content %}
<div class="height_100"></div>
{% endblock head_content %}
{% block content %}
<section id="main_content" class="bg_gray">
    <div class="container">
        <div class="sec_up">
            <div class="row alter">
                <div class="col-sm-8 col-md-9">
                    <div class="content">
                        <div class="about_us">
                            <div class="page_title">
                                <h1>FAQ</h1>
<p>CallnMail Frequently asked Question (FAQs)</p>


                            </div>
                            <!-- /page_title -->

                            <div class="row_block">
                                <h3>What is CallnMail?</h3>

                                <p>CallnMail is an email forwarding facility, acting through two channels: a website on the

internet, as well as providing its services through mobile applications.</p>
                            </div>

                            <div class="row_block">
                                <h3>Why use CallnMail?</h3>

                                <p>If you are using a mobile phone, you can register it with the CallnMail.com service in

order for other users and friends to be able to email you, without knowing your personal

or professional email ID.

In addition, when people are contacting you by phone, you can give out your email ID as

the CallnMail.com email.

Using the CallnMail.com services, you can find out your friends email ID, without

necessary knowing their personal email address.</p>
                            </div>

                            <div class="row_block">
                                <h3>Will I receive spam SMS or email?</h3>

                                <p>We provide restricted access of our users’ data, for advertising purposes and to legal

bodies, without discoursing the critical and sensitive user’s data like age, surname,

photos etc. Advertising companies may contact you or SMS you under a certain criteria

like, country, city, sex or age range, provided by CallnMail, according to terms of use.
                             We are trying hard to prevent our users from receiving SPAM email and SMS.
                                </p>
                            </div>







                             <div class="row_block">
                                <h3>What do you do for my security?</h3>

                                <p>We take our customer’s security very seriously.
                                </p>
                            </div>







                               <div class="row_block">
                                <h3>Is CallnMail FREE?</h3>

                                <p>Yes basic use of CallnMail is FREE, CallnMail App is free to download.
                                </p>
                            </div>



                               <div class="row_block">
                                <h3>How do I verify my email and mobile number?</h3>

                                <p>During the registration step, simply click on get the activation code, and an SMS will be

sent to your mobile number and you will be prompted to add on the website/app the

activation code you received.
                                </p>
                            </div>





                             <div class="row_block">
                                <h3>Do you provide a mailbox?</h3>

                                <p>No currently, we do not provide a mailbox and we are not an email provider. But we are

working on it.
                                </p>
                            </div>

                             <div class="row_block">
                                <h3>I have changed my number or someone else registered my number</h3>

                                <p>You can report to us any improper use of your personal mobile number by submitting a

form on our website and our team will correct any improper use or number correction.
                                </p>
                            </div>

                             <div class="row_block">
                                <h3>Changes to this Policy</h3>

                                <p>If we change our Policy, we will post the changes on this page. Please check the website

regularly for any changes to this Policy.
                                </p>
                            </div>



                        </div>
                    </div>
                </div>
                <!-- /content -->

                <div class="col-sm-4 col-md-3">
                    {% include 'sidebar.html' %}
                </div>
                <!-- /sidebar -->
            </div>
        </div>
    </div>
</section>
{% endblock %}