{% extends 'base.html' %}
{% load static %}
{% block head_content %}
<div class="head_banner">
						<span class="home_phone"><img src="{% static 'images/iphone_6.png' %}" alt="iphone-6"></span>
						<div class="hb_caption">
							<h1>No more spelling out<br> your email address to friends</h1>
{#														<iframe width="400" height="300" src="https://www.youtube.com/embed/TOzyjRvEN8M" frameborder="0" allowfullscreen></iframe>#}
<iframe src="https://player.vimeo.com/video/148880261" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<p>Use your phone number for the email address<br> and link it to your existing email.</p>
							<a class="button" href="{% url 'mail:login' %}">Login/Sign up</a>


						</div>

					</div>

{% endblock %}
{% block content %}
<section id="main_content" class="frontpage">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="app_store">
								<a href="https://itunes.apple.com/au/app/callnmail/id1023138715?mt=8"><img src="{% static 'images/icon_app_store.png'%}" alt="app_store"></a>
								<a href="https://play.google.com/store/apps/details?id=com.callnmail&hl=en"><img src="{% static 'images/icon_app_google_play.png' %}" alt="google_play"></a>
							</div>
						</div>
					</div><!-- /row -->
				</div>
			</section><!-- /main_content -->
{% endblock %}