{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="main_content" class="sec_profile">
			<div class="container">
				<div class="box_container">
						<div class="row">
							<div class="col-md-4 col-sm-5">
                            {% include 'profile_part.html' %}
							</div><!-- /p_content -->
							<div class="col-md-8 col-sm-7">
								<div class="create_new_link">
									<div class="p_content sec_half_left">
										<ul class="email_list">
                                        {% for mail in emails %}
											<li><input type="text" name="myhotmail" id="myhotmail{{ forloop.counter }}" placeholder="{{ mail.title }}" readonly/>
                                                <a href="{% url 'mail:mailforward_delete' mail.pk %}">x</a> <a href="{% url 'mail:mailforward_edit' mail.pk %}"> > </a> </li>
                                            {% endfor %}
										</ul>
										<div class="create_link">
											<a href="{% url 'mail:mailforward_create' %}"><i class="fa fa-plus"></i> Link new email address</a>
										</div>
									</div><!-- /p_content -->

									<div class="p_content sec_half_right">
										<div class="edit_panel">
											<a class="button" href="{% url 'mail:profile' %}">My Profile</a>
										</div>
									</div><!-- /p_content -->
								</div><!-- /change_pass -->
							</div>
						</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="app_store">
							<a href="https://itunes.apple.com/au/app/callnmail/id1023138715?mt=8"><img src="{% static 'images/icon_app_store.png' %}" alt="app_store"></a>
							<a href="https://play.google.com/store/apps/details?id=com.callnmail&hl=en"><img src="{% static 'images/icon_app_google_play.png' %}" alt="google_play"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}