<div class="p_content">
    <form id="avatarform"
          method="post"
          action="{% url 'mail:change_avatar' %}"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="profile_pics">
        <div style="margin-top: -40px; text-align:center;">
        <a href="#" onclick="document.getElementById('id_avatar').click(); return false;"><i id="mycamera" class="fa fa-camera">

																Your Photo</i></a>
        <input type="file" id="id_avatar" name="avatar" style="visibility: hidden;" />
        </div>
            {% if user.userprofile.avatar %}
                <img src="{{ user.userprofile.avatar.url }}"
                     alt="profile_img">
            {% endif %}
            <input type="hidden"
                   name="path"
                   value="{{ request.path }}"/>

        </div>
    </form>
    <span class="name">{% if user.first_name or user.last_name %}{{ user.first_name }}
        {{ user.last_name }}
    {% else %}{{ user }}{% endif %}</span>

</div>
