{% extends 'base.html' %}
{% load static %}
{% load country_tags %}
{% block content %}

<section id="login" class="registration bg_gray">
			<div class="container">
				<div class="page_title">
					<h1>Create an account or sign in</h1>
					<p>Use your phone number for the email address <br>and link it to your existing email.</p>
				</div><!-- /page_title -->
			</div>

			<div class="sec_reg">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="tab_panel tab_login" role="tabpanel">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#login_tab" aria-controls="login_tab" role="tab" data-toggle="tab">Login</a></li>
									<li role="presentation"><a href="#create_account" aria-controls="create_account" role="tab" data-toggle="tab">Create Account</a></li>
								</ul>

								<div class="box_container">
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane" id="login_tab">
											<div class="tab_item_content">
												<div class="reg_content login">
													<form method="post" action="">
                                                        {% csrf_token %}
                                                        <p class="text-center text-warning">{{ error }}</p>
														<div class="form-group">
															<div class="cc_phone">
																<span class="country_code">
                                                                    {% country_code_prefix as codes %}
                                                                    <select name="country_codes">
																	{% if request.session.country_codes %}
																		<option selected="selected">+{{ request.session.country_codes  }}</option>

																	{% else %}
																		<option selected="selected">+965</option>
																	{% endif %}

                                                                        {% for code in codes %}
                                                                        <option>{{ code }}</option>
                                                                        {% endfor %}
                                                                    </select>
{#																	<a href="#">+965 <i class="fa fa-angle-down"></i></a>#}
																</span>
															{% if request.session.phone_number %}
															{{ request.session.phone_number }}
															{% else %}
                                                                    {{ form.phone_number }}
															{% endif %}
																<a class="input_add_on" href="#"><i class="fa fa-phone"></i></a>
                                                              <p class="text-warning">{{ form.phone_number.errors }}</p>

															</div>
														</div>

														<div class="form-group">
															<div class="password">

                                                                {{ form.password }}
																<a class="input_add_on" href="#"><i class="fa fa-lock"></i></a>
                                                                <p class="text-warning">{{ form.password.errors }}</p>
															</div>
														</div>

														<button type="submit" class="button">Login Now</button>
													</form>

												</div><!-- /reg_content -->

												<div class="welcome_back">
													<h1>Welcome Back</h1><br>

													<ul class="chose_opt">
														<li><a href="{% url 'mail:activate_user' %}">Activate Account</a></li>
														<li><a href="{% url 'mail:reset_password_request' %}">Forget Password</a></li>
													</ul>
												</div>
											</div>
										</div><!-- /tab_item_content -->

										<div role="tabpanel" class="tab-pane active" id="create_account">
											<div class="tab_item_content">
                                                <p class="text-warning">{{ rform.non_field_errors }}</p>
                                                <form action="{% url 'mail:registration' %}" method="post">
                                                        {% csrf_token %}
												<div class="reg_content active_ac">


														<div class="form-group">
															{{ rform.first_name }}
															<a class="input_add_on" href="#"><i class="fa fa-user"></i></a>
                                                            <p class="text-warning">{{ rform.first_name.errors }}</p>
														</div>

														<div class="form-group">
                                                            {{ rform.last_name }}
															<a class="input_add_on" href="#"><i class="fa fa-user"></i></a>
                                                             <p class="text-warning">{{ rform.last_name.errors }}</p>

														</div>

														<div class="form-group">
														<div class="cc_phone">
																<span class="country_code">
                                                                    {% country_code_prefix as codes %}
                                                                    <select name="country_codes">
																	{% if request.session.country_codes %}
																		<option selected="selected">+{{ request.session.country_codes  }}</option>

																	{% else %}
																		<option selected="selected">+965</option>
																	{% endif %}

                                                                        {% for code in codes %}
                                                                        <option>{{ code }}</option>
                                                                        {% endfor %}
                                                                    </select>
{#																	<a href="#">+965 <i class="fa fa-angle-down"></i></a>#}
																</span>
															{% if request.session.phone_number %}
															{{ request.session.phone_number }}
															{% else %}
                                                                    {{ rform.phone_number }}
															{% endif %}
																<a class="input_add_on" href="#"><i class="fa fa-phone"></i></a>
                                                              <p class="text-warning">{{ form.phone_number.errors }}</p>

															</div>
														</div>

                                                <div class="form-group">
															<div class="cc_phone">
                                                                {{ rform.phone_number }}
																<a class="input_add_on" href="#"><i class="fa fa-phone"></i></a>
                                                                <p class="text-warning">{{ rform.phone_number.errors }}</p>
															</div>
														</div>



														<div class="form-group">
															<div class="password">
                                                                {{ rform.password1 }}
																<a class="input_add_on" href="#"><i class="fa fa-lock"></i></a>
                                                                <p class="text-warning">{{ rform.password1.errors }}</p>
															</div>
														</div>
                                                        <div class="form-group">
															<div class="password">
                                                                {{ rform.password2 }}
																<a class="input_add_on" href="#"><i class="fa fa-lock"></i></a>
                                                                <p class="text-warning">{{ rform.password2.errors }}</p>
															</div>
														</div>
												</div><!-- /reg_content -->

												<div class="get_activation_code">
													<div class="pro_pics">
														<span id="test"><input type="file" id="avatar" name="avatar" style="position: absolute; opacity: 0;"><i class="fa fa-camera"><span style="font-size: 65%; padding-top: 5px;">Your Photo</span></i></span>
													</div>
													<p>Your mobile is your username including country code You will receive the activation code by SMS to your mobile</p>

													<span class="terms">By registering, I accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>

													<a class="button" href="#"><button type="submit">Get the activation code</button></a>
												</div>
                                                </form>
                                                <p class="text-warning">{{ number_error }}</p>
											</div>
										</div>
									</div>

									<span class="reg_ribbon"><img src="{% static 'images/ribbon.png '%}" alt="ribbon"></span>
									<span class="iphone_6"><img src="{% static 'images/iphone_6.png' %}" alt="iphone-6"></span>
								</div><!-- /box_container -->
							</div>
						</div>
					</div><!-- /row -->

					<div class="row">
						<div class="col-sm-12">
							<div class="app_store">
								<a href="https://itunes.apple.com/au/app/callnmail/id1023138715?mt=8"><img src="{% static 'images/icon_app_store.png' %}" alt="app_store"></a>
								<a href="https://play.google.com/store/apps/details?id=com.callnmail&hl=en"><img src="{% static 'images/icon_app_google_play.png' %}" alt="google_play"></a>
							</div>
						</div>
					</div><!-- /row -->
				</div>
			</div>
		</section>

{% endblock %}