{% load static %}
<div class="sidebar">
                        <div class="widget">
                            <ul class="sidebar_menu">
                                <li {% if request.path == '/about/' %}class="active"{% endif %}><a href="{% url 'mail:about' %}">About</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'mail:logout' %}">Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'mail:login' %}">Login/Sign up</a></li>
                                {% endif %}
                                <li {% if request.path == '/faq/' %}class="active"{% endif %}><a href="{% url 'mail:faq' %}">FAQ</a></li>
                                <li {% if request.path == '/privacy/' %}class="active"{% endif %}><a href="{% url 'mail:privacy' %}">Privacy Policy</a></li>
                                <li {% if request.path == '/contact/' %}class="active"{% endif %}><a href="{% url 'mail:contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- /widget -->

                        <div class="widget">
                            <div class="app_store">
                                <a href="https://itunes.apple.com/au/app/callnmail/id1023138715?mt=8"><img src="{% static 'images/icon_app_store.png' %}" alt="app_store"></a>
                                <a href="https://play.google.com/store/apps/details?id=com.labelag.callnmail&hl=en"><img src="{% static 'images/icon_app_google_play.png' %}" alt="google_play"></a>
                            </div>
                        </div>
                        <!-- /widget -->
                    </div>