{% load country_tags %}

{% block content %}



{% for object in codes %}
																    <option class="country" value="{{ object.prefix_val }}" data-country-code="{{ object.code|lower }}">
																	<div class="flag">
																            <div class="iti-flag {{ object.code|lower }}"></div>
																        </div>
																        <span class="dial-code">{{ object.prefix }}</span>
																        <span class="country-name">{{ object.name }}</span>

																	</option>
                                                                        {% endfor %}

{% endblock content %}