<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Call N Email</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Fevicon -->
	<link rel="icon" href="favicon.png" type="png" />
	
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
	<!-- fonts -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">

	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">

	<!-- js -->
	<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	 <script src="js/html5shiv.min.js"></script>
	 <script src="js/respond.js"></script>
	 <![endif]-->

	</head>

	<body>

		<header class="header_single">
			<div class="container">
				<div class="head">
					<div class="logo"><a href="index.html"><img src="images/logo_bg.png" alt="logo"></a></div>
					<div class="menu">
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="login.html">Login/Sign up</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header><!-- /header -->

		<section id="main_content" class="registration bg_gray">
			<div class="container">
				<div class="page_title">
					<h1>Create an account or sign in</h1>
					<p>Use your phone number for the email address <br>and link it to your existing email.</p>
				</div><!-- /page_title -->
			</div>
			
			<div class="sec_reg">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="tab_panel" role="tabpanel">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">Forget Password</a></li>
								</ul>

								<div class="box_container">
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="forget_password">
											<div class="tab_item_content active_account">
												<div class="content_logo"><a href="#"><img src="images/content_logo_bg.png" alt="logo"></a></div>

												<div class="reg_content">
													<form action="post">												
														<div class="form-group">
															<div class="cc_phone">
																<span class="country_code">
																	<a href="#">00965 <i class="fa fa-angle-down"></i></a>
																</span>
																<input type="text" id="mobile" name="mobile" placeholder="Mobile">
																<a class="input_add_on" href="#"><i class="fa fa-phone"></i></a>
															</div>
														</div>

														<button type="submit" class="button">Send New Password</button>
													</form>

												</div><!-- /reg_content -->
											</div>
										</div><!-- /tab_item_content -->
									</div>
									
									<span class="reg_ribbon"><img src="images/ribbon.png" alt="ribbon"></span>
									<span class="iphone_6"><img src="images/iphone_6.png" alt="iphone-6"></span>
								</div><!-- /box_container -->
							</div>
						</div>
					</div><!-- /row -->

					<div class="row">

						<div class="col-sm-12">
							<div class="app_store">
								<a href="#"><img src="images/icon_app_store.png" alt="app_store"></a>
								<a href="#"><img src="images/icon_app_google_play.png" alt="google_play"></a>
							</div>
						</div>
					</div><!-- /row -->
				</div>
			</div>
		</section><!-- /main_content -->

		<footer class="main_footer">
			<div class="container">
				<div  class="footer">
					<div class="footer_logo">
						<a href="#"><img src="images/footer_logo.png" alt="footer_logo"></a>
					</div><!-- /footer_logo -->

					<div class="footer_social">
						<ul>
							<li><a href="#"><img src="images/social_icon_youtube.png" alt="social_icon"></a></li>
							<li><a href="#"><img src="images/social_icon_facebook.png" alt="social_icon"></a></li>
							<li><a href="#"><img src="images/social_icon_twitter.png" alt="social_icon"></a></li>
						</ul>
					</div><!-- /footer_social -->
				</div>
			</div>
		</footer><!-- /footer -->

		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-7">
						<div class="footer_menu">
							<ul>
								<li><a href="about.html">About</a></li>
								<li><a href="login.html">Login/Sign up</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</div><!-- /footer_menu -->
					</div>
					<div class="col-md-6 col-sm-5">
						<div class="copyright_content">
							<p>© 2014 Copyright CallnMail. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- /copyright -->

	</body>
	</html>