<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Call N Email</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Fevicon -->
	<link rel="icon" href="favicon.png" type="png" />
	
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
	<!-- fonts -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">

	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">

	<!-- js -->
	<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	 <script src="js/html5shiv.min.js"></script>
	 <script src="js/respond.js"></script>
	 <![endif]-->

	</head>

	<body>

		<header class="header_single">
			<div class="container">
				<div class="head">
					<div class="logo"><a href="index.html"><img src="images/logo_bg.png" alt="logo"></a></div>
					<div class="menu">
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="login.html">Login/Sign up</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="height_100"></div>
			</div>
		</header><!-- /header -->

		<section id="main_content" class="bg_gray">
			<div class="container">
				<div class="sec_up">
					<div class="row alter">
						<div class="col-sm-8 col-md-9">
							<div class="content">
								<div class="about_us">
									<div class="page_title">
										<h1>About Us</h1>
										<p>Contribute to the WhatsApp translation in your language. Let's make WhatsApp available to everyone in the world! WhatsApp Messenger is a cross-platform mobile messaging app which allows you to exchange messages without having to pay for SMS. WhatsApp Messenger is available for iPhone, BlackBerry, Windows Phone, Android and Nokia. </p>
									</div><!-- /page_title -->
									
									<div class="row_block">
										<h3>What</h3>
										<p>WhatsApp Inc. is an early stage technology startup founded in the heart of Silicon Valley. What does the name mean you ask? Well, WhatsApp is a pun on What's Up in case you didn't get it yet:)</p>
									</div>

									<div class="row_block">
										<h3>Why</h3>
										<p>Because we want to build a better SMS alternative. Because we believe we can. Because someday very soon everybody will have a Smartphone.</p>
									</div>

									<div class="row_block">
										<h3>Who</h3>
										<p>WhatsApp was founded by two guys who spent combined 20 years doing geeky stuff at Yahoo! Inc. before starting WhatsApp Inc.</p>
									</div>
								</div>
							</div>
						</div><!-- /content -->

						<div class="col-sm-4 col-md-3">
							<div class="sidebar">
								<div class="widget">
									<ul class="sidebar_menu">
										<li class="active"><a href="about.html">About</a></li>
										<li><a href="login.html">Login/Sign up</a></li>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</div><!-- /widget -->

								<div class="widget">
									<div class="app_store">
										<a href="#"><img src="images/icon_app_store.png" alt="app_store"></a>
										<a href="#"><img src="images/icon_app_google_play.png" alt="google_play"></a>
									</div>
								</div><!-- /widget -->
							</div>
						</div><!-- /sidebar -->
					</div>
				</div>
			</div>
		</section><!-- /main_content -->

		<footer class="main_footer">
			<div class="container">
				<div  class="footer">
					<div class="footer_logo">
						<a href="#"><img src="images/footer_logo.png" alt="footer_logo"></a>
					</div><!-- /footer_logo -->

					<div class="footer_social">
						<ul>
							<li><a href="#"><img src="images/social_icon_youtube.png" alt="social_icon"></a></li>
							<li><a href="#"><img src="images/social_icon_facebook.png" alt="social_icon"></a></li>
							<li><a href="#"><img src="images/social_icon_twitter.png" alt="social_icon"></a></li>
						</ul>
					</div><!-- /footer_social -->
				</div>
			</div>
		</footer><!-- /footer -->

		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-7">
						<div class="footer_menu">
							<ul>
								<li><a href="about.html">About</a></li>
								<li><a href="login.html">Login/Sign up</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-5">
						<div class="copyright_content">
							<p>© 2014 Copyright CallnMail. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- /copyright -->

	</body>
	</html>