
@media (min-width: 992px) and (max-width: 1199px){
	.contact_us,
	.contact_top{
		max-width: 640px;
		width: 100%;
		margin: 0 auto;
	}

	.contact_us{
		padding: 30px 0;
	}

	.box_container .sec_half_right{
		width: 40%;
	}
	.box_container .sec_half_left{
		width: 60%;
	}
	.edit_panel a{
		font-size: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.reg_ribbon{
		height: auto;
		position: absolute;
		right: 0;
		top: -83px;
		width: 480px;
	}
	.iphone_6{
		width: 290px;
	}
	.reg_content{
		margin-left: 20px;
		max-width: 270px;
	}
	.get_activation_code,
	.welcome_back{
		max-width: 270px;
	}
	.welcome_back h1{
		font-size: 34px;
	}
	.terms{
		font-size: 16px;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	
	.footer_logo a{
		max-width: 300px;
		padding-top: 10px;
	}
	.footer_menu ul li a,
	.copyright p{
		font-size: 12px;
	}

	.sidebar_menu{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.page_title{
		margin-bottom: 20px;
	}

	.contact_form{
		padding: 0 15px;
	}

	.box_container .sec_half_right,
	.box_container .sec_half_left{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.create_new_link .edit_panel,
	.add_email .edit_panel,
	.edit_profile .edit_panel,
	.edit_panel{
		padding: 0;
	}

	.reg_content,
	.content_logo{
		float: none;
		display: block;
		margin: 0 0 30px;
	}

	.reg_content .button{
		margin-top: 30px;
	}

	.reg_ribbon{
		display: none;
	}

	.tab_panel .tab-content{
		max-width: 400px;
	}
	.tab_panel .nav-tabs > li > a{
		font-size: 18px;
	}
	.tab_panel .nav-tabs > li{
		width: 170px;
	}

	.tab_item_content{
		padding: 35px 0;
	}

	.chose_opt{
		margin: 0 auto;
	}
	.welcome_back{
		padding: 0;
	}

	.iphone_6{
		top: -72px;
	}

	.hb_caption {
		max-width: 400px;
		padding-left: 0;
		width: 100%;
		margin: 20px 0 0;
	}

	.hb_caption br{
		display: none;
	}

}


@media only screen and (max-width: 767px){

	.container{
		width: 100%;
	}

	.head{
		padding: 10px 0 20px;
	}

	.menu,
	.logo{
		float: none;
		width: 100%;
		text-align: center;
		margin: 0;
	}
	.logo a{
		display: inline-block;
		margin-right: 15px;
		max-width: 270px;
	}

	.menu ul li a{
		padding: 10px 15px;
	}

	.footer{
		padding: 15px 0 10px;
		text-align: center;
	}

	.footer_logo{
		max-width: 300px;
		padding-top: 10px;
	}

	.copyright_content,
	.footer_menu {
		text-align: center;
	}
	.footer_menu ul{
		display: inline-block;
	}

	.copyright{
		padding: 15px 0 20px;
	}

	.footer_menu ul li{
		float: none;
		display: inline-block;
	}

	.alter > .col-sm-8,
	.alter > .col-sm-4,
	.alter > .col-sm-3{
		float: none;
	}

	.content{
		padding: 0;
	}

	.contact_us,
	.sidebar_menu,
	.about_us{
		padding: 30px;
		max-width: 100%;
		margin-bottom: 30px;
	}
	.contact_top{
		max-width: 100%;
		padding: 20px 15px;
	}

	.sidebar .app_store{
		margin: 20px 0;
	}
	.page_title h1{
		font-size: 36px;
		margin-bottom: 20px;
	}
	#main_content{
		padding-bottom: 20px;
	}

	.contact .page_title{
		margin-bottom: 0;
	}
	.contact .about_us{
		padding-bottom: 0;
	}
	.contact_info {
		display: block;
		margin: 0 auto;
		max-width: 400px;
		padding: 0;
	}

	.box_container .sec_half_right,
	.box_container .sec_half_left{
		width: 100%;
		padding-bottom: 0;
	}

	.create_new_link .edit_panel,
	.add_email .edit_panel,
	.edit_profile .edit_panel,
	.edit_panel{
		padding: 0;
	}

	.box_container .sec_half_right, .box_container .sec_half_left,
	.p_content{
		max-width: 500px;
		width: 100%;
		display: block;
		margin: 0 auto;
		float: none;
	}

	.sec_title h2{
		text-align: center;
	}
	.app_store{
		max-width: 100%;
	}

	.tab_item_content{
		padding: 50px 0 0;
	}

	.reg_content .button{
		margin-top: 15px;
	}

	.iphone_6,
	.reg_ribbon{
		display: none;
	}

	.welcome_back, .get_activation_code,
	.content_logo,
	.reg_content{
		float: none;
		display: block;
		margin: 0 auto 30px;
	}

	.tab_panel .nav-tabs > li{
		width: 185px;
	}

	.page_title{
		text-align: center;
	}

	.active_account{
		margin-top: 0;
	}

	.hb_caption .button:hover,
	.get_activation_code .button,
	.edit_panel .button,
	.reg_content .button{
		height: auto;
	}

	.home_phone:after,
	.home_phone:before{
		display: none;
	}
	
	.head_banner{
		height: auto;
	}
	.home_phone {
		clear: both;
		display: block;
		margin: 0 auto;
		max-width: 300px;
		position: relative;
		right: auto;
		top: auto;
	}

	.hb_caption{
		padding: 0;
		margin: 40px auto 20px;
		max-width: 430px;
		text-align: center;
	}
	.hb_caption br{
		display: none;
	}

}


@media only screen and (max-width: 690px){}
@media only screen and (max-width: 600px){
	.footer_logo{
		max-width: 100%;
		text-align: center;
		float: none;
	}
	.footer_logo a{
		display: inline-block;
		max-width: 300px;
	}
	.footer_social {
		float: none;
		text-align: center;
		margin: 15px 0;
	}
	.footer_social ul li{
		margin: 0 5px;
	}

	.sidebar_menu, 
	.about_us{
		padding: 20px;
	}
	.contact_us{
		padding: 20px 0;
	}

}
@media only screen and (max-width: 480px){
	.menu ul li a{
		padding: 10px 10px;
		font-size: 15px;
	}

	.content p{
		text-align: justify;
	}

	.box_container{
		padding: 20px 15px;
	}
	.custom_input_row{
		height: auto;
		padding: 15px 15px 10px;
	}
	.input_sex span, .box_container label{
		width: 100%;
		margin-bottom: 7px;
	}
	.box_container label{
		padding-left: 5px;
	}
	.box_container .input_birthday{
		width: 100%;
	}

	.box_container input,
	.box_container .input_birthday input {
		padding-left: 5px;
		text-align: left;
		margin-bottom: 2px;
	}

	.sec_profile{
		padding: 40px 0;
	}

	.email_list li{
		padding-bottom: 5px;
	}

	.tab_panel .nav-tabs{
		padding: 0;
	}

	.tab_panel .nav-tabs > li{
		width: auto;
		float: none;
		display: inline-block;
		margin-right: 2px;
		margin-left: 10px;
	}
	.tab_panel.tab_login .nav-tabs > li{
		margin-left: 2px;
		width: 48%;
	}

	.home_phone{
		max-width: 250px;
	}
}
@media only screen and (max-width: 390px){
	.cf_btn_group button{
		max-width: 100%;
		margin: 0 0 10px;
	}
}
@media only screen and (max-width: 320px){}


@media only screen and (max-width: 240px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:992px){}
@media only screen and (min-width:1200px){
	.about_us{
		margin: 25px 0px 0 100px;
		max-width: 500px;
	}
}
